#table-container{
 position:relative;
 overflow: hidden;
 width:100%;
}

#table-wrapper{
 overflow-x: auto;
 width: 120%;
}

#main-actions-container{
 display: flex;
 justify-content: space-between;
 margin-top: 1%;
 padding-right: 1%;
 padding-left: 1%;
}

#main-actions-container .eb-action-add{
 border: none;
 font-size: 1.5em;
 font-weight: bold;
 color: green;
}

#main-actions-container .eb-action-add{
 display:inline-block;
 text-decoration: none;
 font-size: 1.5em;
}

#main-actions-container .eb-action-add:hover{
 background-color:#e3f9e8;
 text-shadow: 0px 0px .5px, .5px .5px 1px #1e7a08;
}

#entitybrowser-table tbody tr:hover{
 background-color:grey;
 color:white;
}

#entitybrowser-table tbody tr td{
 white-space: nowrap;
 cursor: default;
 padding: 1em;
}

/** # column*/
#entitybrowser-table tbody tr td:first-child{
 padding-left: .5em;
}

#entitybrowser-table tbody tr:last-child{
 padding-bottom: 2em;
}

.eb-action-delete{
  color:#ec2626;
  border:none;
  background-color:inherit;
}

.eb.action-edit{
  text-decoration: none;
  color:orange;
}

.fixed-column{
 position: absolute;
 background-color: white;
 top:auto;
 right:0;
 min-width: 50px;
 max-width: 50px;
 padding-left: 0;
 text-align: center;
}

.fixed-column > * {
  padding: 2px;
  margin:auto;
  vertical-align: middle;
}

/* 
.clone th, .clone td{
 visibility: hidden;
}

.clone tbody .fixed-column{
 visibility: visible;
} */