ul {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  padding-inline-start: 0;
  font-size: .9em;
  color: #4d5368;
          /* margin-block-start: 0; */
          /* margin-block-end: 0; */
}
div#sidenav {
  display:inline-block;
  padding: 0 2em 0 2em;
  background-color: inherit;
  font-family: sans-serif;
}

div#sidenav li {
  display:block;
  cursor: default;
  padding: 4px 10px 4px 10px;
  text-shadow: 1px 1px #ded5d5, 1px 1px grey; 
}
div#sidenav li:hover{
  text-shadow: 1px 1px 2px #ded5d5;
  background-color: #9a96bf;
  color:#39374C;
  text-shadow: none;
  
}

div#sidenav ul li a:-webkit-any-link {
  text-decoration: none;
  cursor: default;
  color: inherit;
  margin-left: 5px;
}


