.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div {
  border-style:dotted;
  border-color:orange;
  border-width: 1px;
} */

/* body{
  background-color: #e7ebf2;
  background-image: linear-gradient(to bottom right, #E9ECF1, #e9ecf0); 
  font-size: .9em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input, select {
   color: #595555;
   font-family: inherit;
} */

/* a {
   text-decoration: none;
} */

.form-input-control{
   
}
