/* body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #e4e8ef;
   min-height: 100vh;
  } */

  /* page start */
  #admin-page{
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-areas:"header header" "sidenav main";
   max-width: 100vw;
  }

  .page-section-header{
   grid-area:header;
   min-height: 3em;
  }

  .page-section-sidenav{
   grid-area:sidenav;
   min-width: 220px;
  }

  .page-section-main{
   grid-area:main;
  }

  /* page end */

  .feature{
   background-color:white;
   box-shadow:-1px -1px 5px rgba(0,0,0, 0.20),1px 1px 5px rgba(0,0,0,.19);
  }
   .feature-header {
    background-color: #1d1a38;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    color: #ffffffde;
  }
  
  .feature-context-title {
   font-weight: bold;
   color:#2b2b2b;
   min-width: 100%;
  }
  .feature-content{
      margin:1em;
      display:flex;
      flex-wrap: wrap;
  }
  .feature-context-title-separator{
   min-width: 100%;
   border-top-color: #efecec6b;
  }

  .feature-context-content-wrapper{
   display:flex;
   flex-wrap:wrap-reverse;
   width: 100%;
   padding: 1em;
   /* justify-content: center; */
  }
  .feature-context-content{
   /* min-width: 80%; */
   max-width: 80%;
  }

  /* grid form */
  .grid-form{
   justify-content: center;
   margin-left: 2em;
   margin-right:2em;
  }
  .grid-form .form-control{
   display: grid;
   grid-template-columns: .8fr 2fr;
   grid-template-areas: 'label input' 'empty error';
   margin-bottom: 1em;
  }

  
  .grid-form .form-control .form-control-label{
    grid-area: label;
    text-align: right;
    margin-right: 1em;
    align-self:center; 
    color: #4e4e4e;
    font-size: .9em;
   }

  .grid-form .form-control .form-control-input{
   grid-area: input;
   align-self:center; 
   margin-left: 1em;
   height: 2.5em;
   padding-left: .5em;
   /* margin-bottom: .5em; */
   
  }

  .grid-form .form-control .form-input-error{
   grid-area: error;
   margin-top: .5em;
   margin-left: 1em;
   font-size: .8em;
   color:red;
   padding-left: 1em;
  }
