body {
   background-color: #e8ecec;
   /* margin: 0;
   padding: 0; */
   font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      /* "-apple-system", "BlinkMacSystemFont", */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: .9em;
   /* ie hide scrollbar/keep functionality */
   -ms-overflow-style: none;
   min-height: 100vh;
   margin:unset;
}

body::-webkit-scrollbar{
   display: none;
}

input, select {
   color: #595555;
   min-height: 1.5em;
}

select {
   height: 2em;
}
a {
   text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
   --border-and-line-color: #e2dddd;
   --featurecontextmenu-color: #92bdae;
   --hover-background-color: #e2dddd;
   --formheader-background-color: #c6c9c7;
   --shade-primary-zero: #040303eb;
   --shade-primary-one: #040303d9;
   --shade-primary-two: #04030378;
   --shade-primary-three: #04030359;
   --shade-primary-ten: #0403031c;
   --forecolor-primary-zero: white;
   --forecolor-primary-one: #b1b0b0;
}  

hr{
   border: .5px solid var(--border-and-line-color);
}

