body {
   background-color: #dfe0e0;
   /* margin: 0;
   padding: 0; */
   font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      /* "-apple-system", "BlinkMacSystemFont", */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: .9em;
   /* ie hide scrollbar/keep functionality */
   -ms-overflow-style: none;
   min-height: 100vh;
}

body::-webkit-scrollbar{
   display: none;
}

input, select {
   color: #595555;
   min-height: 1.5em;
}

select {
   height: 2em;
}
a {
   text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

