.eform{
 font-family: sans-serif;
 font-size: .8em;
 color: #252323;
 min-width:100%;
}

.eform label{
 margin-right: .3em;
}

.eform .eform-inputgroup{
 display: flex;
 justify-content: space-between;
 align-items:center;
 margin: .5em;
 color: #555965;
}

.eform .eform-inputgroup label{
 font-size: 1.2em;
 color: #555965;
}

.eform .eform-inputgroup input[readonly]{
 background-color:#eee9e9;
 border:none;
}

.eform  input{
 min-height: 1.5em;
 padding:.2em .2em .2em .5em;
 min-width: 80%;
}

.eform  select{
 line-height: 30px;
 height:30px;
 min-width: 83%;
}






